body {
    display: flex;
    flex-direction: column;
}

div#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 100%
}

.toastify {
    z-index: 10000;
}

.toastify--bottom-center {
    min-width: 600px;
    margin-left: -300px;
    margin-bottom: 40px;
}
